<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand">Angular - Sudoku</a>
</nav>

<div class="container">
  <div class="app-root-container">
    <h3>
      Juguemos un Sudoku - Con alguna mejora
    </h3>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header" style="text-align: left">
            Aprendamos sobre sudoku
          </div>
          <div class="card-body">
            <h5 class="card-title" style="text-align: left">Como se juega sudoku?</h5>
            <p class="card-text">Para conocer como se juega sudoku haga clic en el siguiente boton.</p>
            <a type="button" (click)="howto()" class="btn btn-outline-primary" >Como se juega?</a>
            <a type="button" (click)="startnew()" class="btn btn-outline-success" >Iniciar un nuevo Juego</a>
            <a type="button" (click)="trucosc()" class="btn btn-outline-primary">Trucos del SUDOKU</a>
          </div>
          <div *ngIf="note" style="text-align: justify">
            <div class="container card text-white bg-primary mb-3">
              <p>Este juego está compuesto por una cuadrícula de 9x9 casillas, dividida en regiones de 3x3 casillas. Partiendo de algunos números ya dispuestos en algunas de las casillas, hay que completar las casillas vacías con dígitos del 1 al 9 sin que se repitan por fila, columna o región.</p>
              <p><strong>Reglas:</strong></p>
              <p><em>Regla 1</em>: hay que completar las casillas vacías con un solo número del 1 al 9.</p>
              <p><em>Regla 2</em>: en una misma fila no puede haber números repetidos.</p>
              <p><em>Regla 3</em>: en una misma columna no puede haber números repetidos.</p>
              <p><em>Regla 4</em>: en una misma región no puede haber números repetidos.</p>
              <p><em>Regla 5</em>: la solución de un sudoku es única.</p>
            </div>
          </div>
          <div *ngIf="trucos" style="text-align: justify">
            <div class="container card text-white bg-primary mb-3">
              <p>
                Algunos consejos prácticos para empezar son:
                
                1. Si estás empezando a hacer SuDoKus, lo más recomendable es que comiences por los niveles más fáciles y posteriormente,
                cuando tengas más práctica, aumentes la dificultad.
                2. Utilizar lápiz y goma de borrar (a menos, claro, que lo estés haciendo en un ordenador)
                3. Comenzar por las cajas de 3x3 que contengan más números.
                4. Una buena ayuda puede ser escribir los números posibles de cada celda en pequeñito dentro de la misma. De esa manera,
                te será más fácil recordar todas las posibilidades.
                5. Recuerda que no hay que olvidarse de las cajas de 3x3 al descartar los números de las posiciones.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <p *ngIf="!start">
          Para iniciar un nuevo juego pulse en el boton <strong>Iniciar un nuevo Juego</strong>.
        </p>
        <div *ngIf="fornew">
          <div class="card">
            <div class="card-header">
              Registrese para poder jugar
            </div>
            <div class="card-body">
            <form>
              <div class="form-group">
                <label>Registre su nombre</label>
                <input type="text" [(ngModel)]="name" name="some" autofocus>
              </div>
              <button type="button" (click)="saveandstart()" class="btn btn-primary">Guardar e iniciar juego</button>
            </form>
            </div>
          </div>
        </div>
        <br>
        <div class="card" *ngIf="start">
          <div class="card-header">
            Sudoku Game
          </div>
          <div class="card-body">
            <p>Jugando como <strong>{{ name }}</strong>. Numero de intentos <strong class="red">{{ try }}</strong> </p>
            <p>
              Las ayudas apareceran conforme usted vaya poniendo los numeros del 1 al 9.
            </p>
            <app-sudoku-container [name]="name" (count)="plusOne($event)"></app-sudoku-container>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
